<mat-card class="register-card">
<mat-card-content>
    <form >
        <table>
            <tr><td>
       <mat-form-field class="full-width">
              <mat-label>User Name</mat-label>
              <input  matInput  placeholder="First name" [(ngModel)]="username" [formControl]="nameFormControl" [errorStateMatcher]="matcher" name="username"  required>
              <mat-error *ngIf="nameFormControl.hasError('required')">
               Name is <strong>required</strong>
             </mat-error>
            </mat-form-field>
        </td></tr>
        
        <tr><td>
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input  matInput  placeholder="Email" type="email" [(ngModel)]="email"  name="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" required>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
               Please enter a valid email address
             </mat-error>
             <mat-error *ngIf="emailFormControl.hasError('required')">
               Email is <strong>required</strong>
             </mat-error>
           </mat-form-field>
        </td></tr>
        <tr><td>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password" [(ngModel)]="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" name="password" required maxlength="20">
              <mat-error *ngIf="passwordFormControl.hasError('required')">
               Password is <strong>required</strong>
             </mat-error>
             <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
               maximum 20 character.
             </mat-error>
            </mat-form-field>
        </td></tr>
           
        </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()"  color="primary">REGISTER</button>
 </mat-card-actions>
</mat-card>